:root {
  --black: rgba(45, 45, 45, 1);
  --body-text-font-family: "Epilogue-Regular", Helvetica;
  --body-text-font-size: 17px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 27px;
}
