.development {
  align-items: center;
  background-color: #821d41;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 50px 100px 100px;
  position: relative;
}

.development .frame {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  margin-left: -49.5px;
  margin-right: -49.5px;
  position: relative;
  width: 899px;
}

.development .close-wrapper {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.development .close {
  height: 20px;
  position: relative;
  width: 21px;
}

.development .overlap-group {
  background-image: url(./line-1.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 1px;
  position: relative;
  width: 20px;
}

.development .line {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.development .about-header {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 70px;
  justify-content: center;
  position: relative;
}

.development .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  transition: all 0.2s ease;
}

.development .img {
  height: 195px;
  object-fit: cover;
  position: relative;
  width: 195px;
}

.development .skill-instance {
  display: flex !important;
  height: 37px !important;
  left: unset !important;
  top: unset !important;
  width: 195px !important;
}

.development .design-component-instance-node {
  margin-bottom: -5px !important;
  margin-left: -27.45px !important;
  margin-right: -27.45px !important;
}

.development .skill-2 {
  color: #ffffff !important;
}

.development .bio-text {
  color: #ffffff;
  font-family: "Epilogue-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
  width: 515px;
}
